@import "tailwindcss";

@theme {
	/* Colors */
	--color-gray-50: #f9fafb;
	--color-gray-100: #f3f4f6;
	--color-gray-200: #e5e7eb;
	--color-gray-300: #d1d5db;
	--color-gray-400: #9ca3af;
	--color-gray-500: #6b7280;
	--color-gray-600: #4b5563;
	--color-gray-700: #374151;
	--color-gray-800: #1f2937;
	--color-gray-900: #111827;
	--color-gray-950: #030712;

    /* My Friend's Coffee Brand Colors */
    --color-coffee-dark: oklch(0.555 0.163 48.998);
    --color-coffee-darker: oklch(0.473 0.137 46.201);
    --color-coffee-card: oklch(0.666 0.179 58.318);
    --color-coffee-accent: oklch(0.828 0.189 84.429);
    --color-coffee-light: oklch(0.924 0.12 95.746);
    --color-coffee-black: oklch(0.216 0.006 56.043);
    --color-coffee-white: #ffffff;
    --color-coffee-hover: oklch(0.769 0.188 70.08);

	--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
    body {
        font-family: var(--font-sans);
        -webkit-font-smoothing: antialiased;
        color: var(--color-coffee-black);
    }
}
